# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version-file: ".python-version"
    - name: Install dev dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Test with unittest and gather code coverage
      run: coverage run --branch -m unittest
    - name: Show coverage
      run: |
        coverage report -m
        coverage html
    - name: Save coverage HTML report
      uses: actions/upload-artifact@v3
      with:
        name: code-coverage-report
        path: htmlcov
